My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.company_name }}",
        "options": {
          "systemMessage": "You are a Qonto Risk Analyst. Check if the company is involved in Gambling, Crypto, or Weapons. IMPORTANT: Output ONLY raw JSON. Do not use markdown formatting (no ```json). Do not write any conversational text. The JSON must have these keys:\n\n\"risk_score\": \"High\" or \"Low\"\n\n\"reason\": \"Short explanation\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "636616d8-d6f3-4175-9118-02a27a33370a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        368,
        144
      ],
      "id": "8705f2db-a927-4f80-bf65-38d1fc0658ee",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oX0py7b8itzylryH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        560,
        144
      ],
      "id": "cd82e98d-3cda-41a9-8c7a-035bacda38cf",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kyc-check",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "ce16828d-5e3d-410b-87cb-ccc47a369048",
      "name": "Webhook",
      "webhookId": "5059cfbd-c842-4270-9ba1-ab4b3c9ab8df"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "45026873-e54b-4cb5-9749-bda2f804ae3a",
              "leftValue": "={{ JSON.parse($json.output).risk_score }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        48
      ],
      "id": "d75962a9-bd54-403f-a6cf-ee3843aa6f84",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13Sd3NMTTJ5dPGvaSazq2nQw-bd0IdWvYgLqA29E5u-E",
          "mode": "list",
          "cachedResultName": "KYC RISK ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13Sd3NMTTJ5dPGvaSazq2nQw-bd0IdWvYgLqA29E5u-E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13Sd3NMTTJ5dPGvaSazq2nQw-bd0IdWvYgLqA29E5u-E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Comapny ": "={{ $('Webhook').item.json.body.company_name }}",
            "Risk Score": "={{ JSON.parse($('AI Agent').item.json.output).risk_score }}",
            "Reason": "={{ JSON.parse($('AI Agent').item.json.output).reason }}",
            "Status": "AUTO-APPROVED"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Comapny ",
              "displayName": "Comapny ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Score",
              "displayName": "Risk Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        144
      ],
      "id": "9c975153-ee7a-4d3e-9aba-0ab0703bdcf0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uAHvV55g28i7VpxP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dawoodaj096@gmail.com",
        "subject": "=⚠️ HIGH RISK ALERT: {{ $('Webhook').item.json.body.company_name }}",
        "message": "=The AI Agent flagged this company. Score: {{ $json.risk_score }} Reason: {{ $json.reason }} Please review manually.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        -48
      ],
      "id": "dc7be2d5-4c8a-4dd7-91e6-bda7d7f25cae",
      "name": "Send a message",
      "webhookId": "727084af-0de1-41dc-bb29-c3bb5b01e58d",
      "credentials": {
        "gmailOAuth2": {
          "id": "uZ5oM3teh7rg3YaF",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "32de3d47-c3c7-40e9-997c-0b2504ba1706",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c330ae9f8550c3874a08b7a384eb885d20cf6f320c9afd4af8e34b96b714ec2"
  },
  "id": "LbRaHKDR5r1qIFnGlHhrA",
  "tags": []
}